.background {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
}
.loginGoogle {
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 0.678);
	border: 2px solid rgba(255, 255, 255, 0.678);
	transition: 0.3s ease all;
	padding: 10px 50px;
	cursor: pointer;
	border-radius: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 600;
}
.googleIMG {
	margin-right: 10px;
}
.loginGoogle:hover {
	color: #fff;
	border-color: #fff;
}
.regist {
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 0.678);
	border: 2px solid rgba(255, 255, 255, 0.678);
	transition: 0.3s ease all;
	padding: 10px 50px;
	cursor: pointer;
	border-radius: 25px;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	justify-content: center;
	margin-bottom: 10px;
}
.login {
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 0.678);
	border: 2px solid rgba(255, 255, 255, 0.678);
	transition: 0.3s ease all;
	padding: 10px 50px;
	cursor: pointer;
	border-radius: 25px;
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 600;
	justify-content: center;
}
.regist:hover {
	color: #fff;
	border-color: #fff;
}
.login:hover {
	color: #fff;
	border-color: #fff;
}
.authen {
	position: absolute;
	top: 300px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #07070fb2;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 40px;
	width: 600px;
}
.or {
	text-align: center;
	margin: 0;
}
.wrapperOR {
	display: flex;
	margin: 10px 0;
	color: rgba(252, 252, 252, 0.274);
}
.wrapperOR hr {
	width: 46%;
	border-color: rgba(252, 252, 252, 0.274);
}
.userRegister {
	margin-right: 10px;
}
